/* google font poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

::placeholder {
    color: #70707B;
    font-size: 14px;

}


.login_container {
    width: 100%;
    height: 100vh;
    background-image: url('../images/bg/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_form_container {
    max-width: 540px;
    width: 100%;
    height: 564px;
    background-color: #131316CC;
    padding: 3rem 4rem;
    border-radius: 1.25rem;
}

.login_title h3 {
    font-size: 1.7rem;
    font-weight: 700;
    color: #fafafa;
    line-height: 2.4rem;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
}

.social_login  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social_login button {
    max-width: 190px;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #a0a0ab;
    line-height: 1.5rem;
    text-transform: capitalize;
    background-color: #26272B;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.social_login button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.login_form_container p {
    font-size: 1rem;
    font-weight: 500;
    color: #70707B;
    line-height: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.input_controller {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

.input_controller label, .input_action_box label {
    font-size: 1rem;
    font-weight: 600;
    color: #d1d1d6;
    line-height: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 12px;
    display: block;
}

.input_controller > .input_box {
    width: 100%;
    height: 48px;
    position: relative;
}


.input_controller > .input_box input{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: transparent;
    border: 3px solid #194185;
    padding-left: 1rem;
    color: #d1d1d6;
    font-size: 14px;
    font-weight: 600;
}



.input_action_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input_action_box button {
    font-size: 1rem;
    font-weight: 500;
    color: #70707B;
    line-height: 1.5rem;
    text-transform: capitalize;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    margin-bottom: 12px;
}


.button_controller {
    width: 100%;
    height: 48px;
}
.button_controller input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #1570EF;
    color: #d1d1d6;
    font-size: 14px;
    font-weight: 600;
    border: transparent;
    cursor: pointer;
    text-transform: capitalize;
}

.guide_box p {
    font-size: 1rem;
    font-weight: 600;
    color: #70707B;
    line-height: 1.5rem;
    text-transform: capitalize;
}

.guide_box p a {
    margin-left: 8px;
    color: #194185;
}